* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    object-fit: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 2rem auto;
    border-bottom: 1px solid gray;
}

.left,
.right {
    display: flex;
    align-items: center;
}

.left {
    gap: 1rem;
}

.right {
    font-size: 0.8rem;
}

ul {
    display: inline-flex;
    gap: 2rem;
    list-style-type: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: #000;
}

.right ul {
    display: flex;
    align-items: center;
}

.blue-link {
    color: blue;
    font-size: 1rem;
}

aside {
    width: 90%;
    margin: 1rem auto;
}

.hero-image {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.hero-image img {
    grid-column: 3/12;
}

/* Paragraph sections */

.paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8em auto;
    width: 40%;
    gap: 1.5em;
}

.paragraph p:first-child {
    font-size: 1.5rem;
}

.paragraph .blue-link {
    font-size: 1.5rem;
}